.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
src/*.so
src/*.o
config.log
..Rcheck
config.status
#config.log#
/doc/
/Meta/
CBN2Path.Rcheck/*
CBN2Path_*.tar.gz
CBN2Path.BiocCheck
src/*.o
src/*.so
inst/doc
GDCdata
MANIFEST.txt
